<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>InfoTrain</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/third_party/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="grey lighten-3">
  <nav class="red darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center ">InfoTrain</a>

    </div>
  </nav>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="input-field col s12 m8 offset-m2 l8 offset-l2">
          <input type="text" id="station" class="autocomplete" placeholder="Station name">
          <label for="station">Station</label>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="station_name_container">
  </div>

  <div class="container" id="departures_container">
  </div>

  <div class="container" id="arrivals_container">
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script src="static/js/third_party/materialize.min.js"></script>
  <script src="static/js/autocomplete.js"></script>

  </body>
</html>
